<!DOCTYPE html>
<html>
<head>
    <title>Lissajous Curve</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body><div class="container">
    <img id="equation" src="{{ url_for('static', filename='img/equation.png') }}" \>
    <div class="plot-container">
        <div id="plot"></div>
        <div class="controls-container">
            <div class="controls">
                <h3>Sampling Parameters</h3>
                <div class="parameter">
                    <label for="n_sampled">Sampled Points:</label>
                    <input type="range" id="n_sampled" min="1" max="50">
                    <span id="n_sampledValue">25</span>
                </div>
                <div class="parameter">
                    <label for="noise">Noise Variance:</label>
                    <input type="range", id="gauss_noise" min="0" max="1" value="0" step="0.01">
                    <span id="noiseValue">0</span>
                </div>
                <h3>Lissajous Equation Parameters</h3>
                <h4>Parameters for X</h4>
                <div class="parameter">
                    <label for="A">A (amplitude of X):</label>
                    <input type="range" id="A" min="0" max="10" value="1" step="0.1">
                    <span id="AValue">1</span>
                </div>
                <div class="parameter">
                    <label for="a">a (frequency of x):</label>
                    <input type="range" id="a" min="0" max="10" value="1" step="0.1">
                    <span id="aValue">1</span>
                </div>
                <div class="parameter">
                    <label for="phase">δ  (degrees offset):</label>
                    <input type="range" id="phase" min="0" max="360" value="0">
                    <span id="phaseValue">0</span>
                </div>
                <h4>Parameters for Y</h4>
                <div class="parameter">
                    <label for="B">B (amplitude of Y):</label>
                    <input type="range" id="B" min="0" max="10" value="1" step="0.1">
                    <span id="BValue">1</span>
                </div>
                <div class="parameter">
                    <label for="b">b (frequency of y):</label>
                    <input type="range" id="b" min="0" max="10" value="1" step="0.1">
                    <span id="bValue">1</span>
                </div>
                <h3>Kernel Regression Parameters</h3>
                <div class="parameter">
                    <label for="kernel">Kernel Type:</label>
                    <select id="kernel" class="form-control">
                        <option value="normal">Gaussian</option>
                        <option value="parabolic">Epanechnikov</option>
                        <option value="quartic">Quartic</option>
                        <option value="cosine">Cosine</option>
                    </select>
                </div>
                <div class="parameter">
                    <label for="bandwidthX">Bandwidth (X):</label>
                    <input type="range" id="bandwidthX" class="idempotent"
                           min="0.005" max="1" value="0.1" step="0.005">
                    <span id="bandwidthXValue">0.1</span>
                </div>
                <div class="parameter">
                    <label for="bandwidthY">Bandwidth (Y):</label>
                    <input type="range" id="bandwidthY" class="idempotent"
                           min="0.005" max="1" value="0.1" step="0.005">
                    <span id="bandwidthYValue">0.1</span>
                </div>

                <button id="previewButton">Preview</button>
                <button id="resetButton" disabled>Reset</button>
                <button id="clearButton">Clear</button>
            </div>
            <div id="statusLog" class="status-log"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
</div></body>
</html>